<header>
    <div class="flexbox">
        <div class="title flexbox">
            <h1 class="fox">Talking Fox</h1>
        </div>
        <nav>
            <ul>
                <li class="selected"><a href="index.html">Home</a></li>
                <li><a href="https://falxix.tumblr.com/">Blog</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="container flexbox">
    <div class="bubble">
        <p>Snail Maze</p>    
        <img src="../assets/snail.jpg">
        <p>A clone of the Sega Master System classic Snail Maze in Html5 using Phaser. Some defects, but it's completely playable, and it was a blast learning with.</p>
        <router-outlet></router-outlet>
    </div>
</div>